{% extends 'layout/main.twig' %}
{% block main %}
    <div class="blog-post">
        <h2 class="blog-post-title">{{ post.post_title }}</h2>

        {{ post.post_content|raw }}

    </div><!-- /.blog-post -->
    <div class="blog-post">
        <h2 class="blog-post-title">Neuste Beitr&auml;ge</h2>
        {% for post in news %}
            <p>
                <a href="{{ wp.get_permalink(post) }}">{{ post.post_title }}</a>
            </p>
        {% endfor %}
    </div>
{% endblock %}